<!DOCTYPE html>
 
<html>
<head>
<title>首页 - 用户注册</title>
<link rel="shortcut icon" href="/static/img/favicon.png" /> 
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script> 
</head>       
<body>
	<div class="container">
		<div class="form-group">
			<label for="text">用户名:</label>
			<input type="text" class="form-control" id="name" placeholder="用户名">
		</div>
		<div class="form-group">
			<label for="text">昵  称:</label>
			<input type="text" class="form-control" id="nickname" placeholder="用户名">
		</div>
		<div class="form-group">
			<label for="text">密码:</label>
			<input type="password" class="form-control" id="pwd" placeholder="请输入密码">
		</div>
		<div class="form-group">
			<label for="text">Email:</label>
			<input type="text" class="form-control" id="email" placeholder="请输入Email">
		</div>
		<div class="form-group">
			<label for="text">手机:</label>
			<input type="text" class="form-control" id="phone" placeholder="请输入手机号">
		</div>
		<div class="form-group">
			<label for="text">QQ:</label>
			<input type="text" class="form-control" id="qq" placeholder="请输入QQ号">
		</div>
		<div class="form-group">
			<label for="text">微信号:</label>
			<input type="text" class="form-control" id="wechat" placeholder="请输入微信号">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" onclick="register()">注册</button>
		</div>
		<div>
			<label id="showinfo"></label>
		</div>
	</div> 
	<!--JS部分-->
	<script type="text/javascript">
		//登录功能
		function register(){
			$.ajax({
				type:'post',
				url:'/register',
				data:{
					"name":$("#name").val(),
					"nickname":$("#nickname").val(),
					"pwd":$("#pwd").val(),
					"email":$("#email").val(),
					"phone":$("#phone").val(),
					"qq":$("#qq").val(),
					"wechat":$("#wechat").val()
				},
				success:function(result){
					if(result.success==0){
						$("#showinfo").html("注册成功")  
					}else  if(result.success==1){
						$("#showinfo").html("注册失败")  
					}
				}
			})
		}
	</script>
</body>
</html>
